/* general settings */
.wrap .nav-tab .dashicons, .wrap button .dashicons, .wrap .button .dashicons { position: relative; top: 4px; }
span.required { color: #dc3232; }
input.error, textarea.error { border: 1px solid #dc3232; color: #dc3232; }

/* admin tabs */
.nav-tab:focus { box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; color: #555; }
.actionnetwork-admin-tab { margin: 10px 0; }
.js .actionnetwork-admin-tab { display: none; }
.js .actionnetwork-admin-tab-active { display: block; }

/* copy to clipboard buttons */
input[type="text"].copy-text { box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; font-family: 'Courier', monospace; background: #fff; vertical-align: middle; margin-right: 0; border-right: none; }
button.copy { border: 1px solid #ddd; background: #fff; padding: 2px 5px; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; transition: background-color 0.5s ease;  vertical-align: middle; cursor: pointer; }
button.copy:focus { outline: none; }
button.copy.copied { background-color: #0073aa; }

/* actions table */
#actionnetwork-actions .admin-name { display: block; margin-top: 2px; font-size: 11px; color: #999; }
#actionnetwork-actions .column-shortcode { width: 250px; }

/* form settings */
#actionnetwork_add_embed_code { width: 100%; height: 100px; font-family: 'Courier', monospace; }
